[submodule "zsh-autosuggestions"]
	path = omz-custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions

[submodule "zsh-completions"]
	path = omz-custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions

[submodule "zsh-syntax-highlighting"]
	path = omz-custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git

[submodule "fast-syntax-highlighting"]
	path = omz-custom/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
